<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://www.w3.org/2001/XMLSchema-instance" version="3.0">
	
	    <!-- Define a Servlet -->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.example.SignUpServlet</servlet-class>
    </servlet>

    <!-- Define Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <display-name>signup</display-name>
    <welcome-file-list>
    <welcome-file>
    index.jsp
    </welcome-file>
    </welcome-file-list>
</web-app>